.offlajnmultiselect {
  border: 1px solid #b3b3b3;
  border-radius: 4px 6px 6px 4px;
  background-color: #f4f4f4;
  float: left;
  overflow: hidden;
}

.multiselectitems {
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  float: left;
}

.multiselectcontainer {
  position: absolute;
  top: 0;
  overflow: hidden;
  visibility: hidden;
}

.multiselectitem {
  cursor: pointer;
  height: 17px;
  padding-top: 4px;
  padding-bottom: 3px;
 /* padding-left: 2px;*/
  color: #575656;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  font-family: 'PT Sans';
  font-size: 11px;
  white-space: nowrap;
  /*padding-right: 5px;*/
  padding-left: 10px;
  padding-right: 15px;
  margin-right: 3px;
  margin-left: 1px;
}

.multiselectitem.selected {
  background-color: #4e85c5;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}