#vmMainPageOPC div.middle_select select, div.middle_select select:hover, div.middle_select select:focus {
 boder: none; 
 background: none; 
 background-color: transparent; 
 border: none; 
 border-color: transparent; 
 margin: 0; 
 padding; 0; 
 box-shadow: none; 
 outline: none none; 
 min-width: 300px;
 width: 300px;
 position: static !important;
 z-index: 10;
} 
#vmMainPageOPC input.payment_item_radio {
 margin-top: -10px !important;
}
#vmMainPageOPC div.coupon_section {
 width: 100%;
 float: left; 
 clear: both;

}
#vmMainPageOPC div.after_select {
 background: none !important;
 display: none !important;
 position: static !important;
 width: 100%; 
}
#vmMainPageOPC div.coupon_input_section  div.middle_input {
 left: -2px;
}

#vmMainPageOPC  input.inputbox{
padding-top: 5px !important;
}
#vmMainPageOPC div.before_select {
 display: none !important;
 background: none !important;
 width: 8px; 
 height: 25px; 
 float: left;
 overflow: visible;
 left: 0;
 position: static !important;
}
#vmMainPageOPC div.middle_select {
 background: none;
 overflow: none;
 position: static !important;
 width: 99% !important;
 min-width: 0 !important;
 height: auto !important;
}
#vmMainPageOPC div.before_select select {
 display: inline-block !important;
 position: static !important;
 width: 100% !important;
 min-width: 0 !important;
 height: auto !important;
}

#vmMainPageOPC select.inputbox {
 width: 100% !important;
}