.acclevel{
  clear: left;
  position:relative;
  width: 96%;
}

div.acclevel .panel{
  border-left: 0;
}

.removeBtn{
  margin-top: 10px;
  height: 23px;
  background: url('remove-l.png') no-repeat left top ;
  cursor: pointer;
  float: right;
  visibility: hidden;
  padding-left: 5px;
  margin-right: 20px;
}

.removeBtn div{
  height: 23px;
  background: url('remove-r.png') no-repeat right top;
  padding-right: 24px;
}

.removeBtn div div{
  height: 23px;
  background: url('remove-m.png') repeat-x;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
  color: #fff;
  font-family: arial;
  padding: 0 5px;
  text-shadow: 0 1px 0px RGBA(0,0,0,0.3);
}

.removeBtnShow{
  visibility: visible;
}

.addBtn{
  margin-top: 10px;
  height: 23px;
  background: url('add-l.png') no-repeat left top ;
  cursor: pointer;
  float: right;
  padding-left: 5px;
}

.addBtn div{
  height: 23px;
  background: url('add-r.png') no-repeat right top;
  padding-right: 24px;
}

.addBtn div div{
  height: 23px;
  background: url('add-m.png') repeat-x;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
  color: #fff;
  font-family: arial;
  padding: 0 5px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

li fieldset span,
li fieldset a{
  float:left;
 /* margin: 5px 5px 5px 0;*/
 margin-left: 2px;
}

li fieldset span.jPicker, li fieldset span.jPicker span{
  margin: 0;
}

div.panel fieldset.jelement{
  padding: 0;
  margin: 0;
}

fieldset.panelform .jelement > label{
  float: left;
  clear: none;
  max-width: none;
  min-width: 0;
}