<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="contact"
		label="COM_CONTACTENHANCED_FIELD_CONFIG_INDIVIDUAL_CONTACT_DISPLAY">
		<field name="show_contact_category" type="list"
			default="hide" label="COM_CONTACTENHANCED_FIELD_CONTACT_SHOW_CATEGORY_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONTACT_SHOW_CATEGORY_DESC">
			<option value="hide">JHIDE</option>
			<option value="show_no_link">COM_CONTACTENHANCED_FIELD_VALUE_NO_LINK</option>
			<option value="show_with_link">COM_CONTACTENHANCED_FIELD_VALUE_WITH_LINK</option>
		</field>

		<field name="show_contact_list" type="radio"
			default="0" label="COM_CONTACTENHANCED_FIELD_CONTACT_SHOW_LIST_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONTACT_SHOW_LIST_LABEL">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="presentation_style" type="list" default="plain"
			description="COM_CONTACTENHANCED_FIELD_PRESENTATION_DESC"
			label="COM_CONTACTENHANCED_FIELD_PRESENTATION_LABEL">
			<option value="sliders">COM_CONTACTENHANCED_FIELD_VALUE_SLIDERS</option>
			<option value="tabs">COM_CONTACTENHANCED_FIELD_VALUE_TABS</option>
			<option value="plain">COM_CONTACTENHANCED_FIELD_VALUE_FULL</option>
		</field>
		<field name="show_contact_details" type="list" default="beforeform"
			label="CE_CONFIG_SHOW_CONTACT_DETAILS_LABEL"
			description="CE_CONFIG_SHOW_CONTACT_DETAILS_DESC">
			<option value="0">JHIDE</option>
			<option value="beforeform">CE_CONFIG_BEFORE_FORM</option>
			<option value="afterform">CE_CONFIG_AFTER_FORM</option>
			<option value="sidebar">CE_CONFIG_INSIDE_SIDEBAR</option>
		</field>
		<field name="show_name" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_NAME_LABEL" description="COM_CONTACTENHANCED_FIELD_PARAMS_NAME_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_position" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_CONTACT_POSITION_LABEL"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_CONTACT_POSITION_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_email" type="radio" default="0"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_CONTACT_E_MAIL_LABEL"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_CONTACT_E_MAIL_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
			<option value="link">COM_CONTACTENHANCED_FIELD_PARAMS_EMAIL_OPT_SHOW_LINK</option>
		</field>
		<field name="show_street_address" type="radio"
			default="1" label="COM_CONTACTENHANCED_FIELD_PARAMS_STREET_ADDRESS_LABEL"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_STREET_ADDRESS_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_suburb" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_TOWN-SUBURB_LABEL"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_TOWN-SUBURB_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_state" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_STATE-COUNTY_LABEL"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_STATE-COUNTY_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_postcode" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_POST-ZIP_CODE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_POST-ZIP_CODE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_country" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_COUNTRY_LABEL"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_COUNTRY_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_telephone" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_TELEPHONE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_TELEPHONE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_mobile" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_MOBILE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_MOBILE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_fax" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_FAX_LABEL" description="COM_CONTACTENHANCED_FIELD_PARAMS_FAX_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="show_skype" default="1"
			type="radio"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_SKYPE_DESC"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_SKYPE_LABEL">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_twitter" default="1"
			type="radio"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_TWITTER_DESC"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_TWITTER_LABEL">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="show_facebook" default="1"
			type="radio"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_FACEBOOK_DESC"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_FACEBOOK_LABEL">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
			
		<field name="show_linkedin" default="1"
			type="radio"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_LINKEDIN_DESC"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_LINKEDIN_LABEL">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
			
		<field name="show_webpage" type="list" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_WEBPAGE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_WEBPAGE_DESC"
		>
			<option value="0"	>JHIDE</option>
			<option value="1"	>JSHOW</option>
			<option value="trim">COM_CONTACTENHANCED_FIELD_PARAMS_WEBPAGE_OPT_TRIM</option>
			<option value="label">COM_CONTACTENHANCED_FIELD_PARAMS_WEBPAGE_OPT_LABEL</option>
		</field>

		<field name="show_misc" type="list" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_MISC_INFO_LABEL"
			description="COM_CONTACTENHANCED_FIELD_PARAMS_MISC_INFO_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">COM_CONTACTENHANCED_FIELD_PARAMS_MISC_INFO_OPT_SHOW_AT_END</option>
			<option value="after_details">COM_CONTACTENHANCED_FIELD_PARAMS_MISC_INFO_OPT_SHOW_AFTER_CONTACT_DETAILS</option>
			<option value="before_form">CE_CONFIG_BEFORE_FORM</option>
		</field>

		<field name="show_image" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_SHOW_IMAGE_LABEL" description="COM_CONTACTENHANCED_FIELD_PARAMS_SHOW_IMAGE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="image" type="media"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_IMAGE_LABEL" description="COM_CONTACTENHANCED_FIELD_PARAMS_IMAGE_DESC"
		>
		</field>
		<field name="allow_vcard" type="radio" default="0"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_VCARD_LABEL" description="COM_CONTACTENHANCED_FIELD_PARAMS_VCARD_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_articles" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_ARTICLES_SHOW_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ARTICLES_SHOW_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_profile" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_PROFILE_SHOW_LABEL" description="COM_CONTACTENHANCED_FIELD_PROFILE_SHOW_LABEL"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_links" label="COM_CONTACTENHANCED_FIELD_SHOW_LINKS_LABEL"
			description="COM_CONTACTENHANCED_FIELD_SHOW_LINKS_LABEL" type="radio"
			default="1"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>

		</field>

		<field name="linka_name" type="text"
			label="COM_CONTACTENHANCED_FIELD_LINKA_NAME_LABEL" description="COM_CONTACTENHANCED_FIELD_LINK_NAME_DESC"
			size="30" />

		<field name="linkb_name" type="text"
			label="COM_CONTACTENHANCED_FIELD_LINKB_NAME_LABEL" description="COM_CONTACTENHANCED_FIELD_LINK_NAME_DESC"
			size="30" />

		<field name="linkc_name" type="text"
			label="COM_CONTACTENHANCED_FIELD_LINKC_NAME_LABEL" description="COM_CONTACTENHANCED_FIELD_LINK_NAME_DESC"
			size="30" />

		<field name="linkd_name" type="text"
			label="COM_CONTACTENHANCED_FIELD_LINKD_NAME_LABEL" description="COM_CONTACTENHANCED_FIELD_LINK_NAME_DESC"
			size="30" />

		<field name="linke_name" type="text"
			label="COM_CONTACTENHANCED_FIELD_LINKE_NAME_LABEL" description="COM_CONTACTENHANCED_FIELD_LINK_NAME_DESC"
			size="30" />
		<field name="show_extrafield_1" label="CE_CONTACT_EF1" description="CE_CONTACT_SHOW_EF_DESC" type="radio" default="0"	>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_extrafield_2" label="CE_CONTACT_EF2" description="CE_CONTACT_SHOW_EF_DESC" type="radio" default="0"	>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_extrafield_3" label="CE_CONTACT_EF3" description="CE_CONTACT_SHOW_EF_DESC" type="radio" default="0"	>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_extrafield_4" label="CE_CONTACT_EF4" description="CE_CONTACT_SHOW_EF_DESC" type="radio" default="0"	>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_extrafield_5" label="CE_CONTACT_EF5" description="CE_CONTACT_SHOW_EF_DESC" type="radio" default="0"	>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_extrafield_6" label="CE_CONTACT_EF6" description="CE_CONTACT_SHOW_EF_DESC" type="hidden" default="0"	>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_extrafield_7" label="CE_CONTACT_EF7" description="CE_CONTACT_SHOW_EF_DESC" type="hidden" default="0"	>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_extrafield_8" label="CE_CONTACT_EF8" description="CE_CONTACT_SHOW_EF_DESC" type="hidden" default="0"	>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_extrafield_9" label="CE_CONTACT_EF9" description="CE_CONTACT_SHOW_EF_DESC" type="hidden" default="0"	>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			<field name="show_extrafield_10" label="CE_CONTACT_EF10" description="CE_CONTACT_SHOW_EF_DESC" type="hidden" default="0"	>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>
			
			
			<field name="qrdesc" type="title" default="" 
				label="COM_CONTACTENHANCED_QR_CODE_QR_DESCRIPTION_LABEL" 
				description="COM_CONTACTENHANCED_QR_CODE_QR_DESCRIPTION_DESC" />
				
			<field name="qr" type="switch" default="0" 
				label="COM_CONTACTENHANCED_QR_CODE_SHOW_IMAGE_LABEL" 
				description="COM_CONTACTENHANCED_QR_CODE_SHOW_IMAGE_DESC">
				<option value="0">JHIDE</option>
				<option value="enabled">JSHOW</option>
			</field>
			
			<field name="qr-enabled-type" type="list" default="mecard" 
				label="COM_CONTACTENHANCED_QR_CODE_TYPE_LABEL" 
				description="COM_CONTACTENHANCED_QR_CODE_TYPE_DESC">
				<option value="telephone"	>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_TELEPHONE</option>
				<option value="mobile"		>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_MOBILE</option>
				<option value="sms"			>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_SMS</option>
				<option value="mecard"		>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_MECARD</option>
				<option value="bizcard"		>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_BIZCARD</option>
				<option value="vcard"		>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_VCARD</option>
				<option value="email"		>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_EMAIL_PLAIN</option>
				<option value="emailto"		>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_EMAIL_MAILTO</option>
				<option value="email_matmsg">COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_EMAIL_MATMSG</option>
				<option value="url"			>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_URL_PLAIN</option>
				<option value="urlto"		>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_URL_TO</option>
				<option value="url_mebkm"	>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_URL_MEBKM</option>
				<option value="geo"			>COM_CONTACTENHANCED_QR_CODE_TYPE_OPT_GEO</option>
				<option value="extra_field_1">CE_CONTACT_EF1</option>
				<option value="extra_field_2">CE_CONTACT_EF2</option>
				<option value="extra_field_3">CE_CONTACT_EF3</option>
				<option value="extra_field_4">CE_CONTACT_EF4</option>
				<option value="extra_field_5">CE_CONTACT_EF5</option>
				<!-- option value="android_market_lookup">ANDROID: Market lookup</option>
				<option value="android_market_direct">ANDROID: Market Direct</option>
				<option value="wifi"		>WIFI</option -->
			</field>
			<field name="qr-enabled-ecc" type="list" default="L" 
				label="COM_CONTACTENHANCED_QR_CODE_ECC_LABEL" 
				description="COM_CONTACTENHANCED_QR_CODE_ECC_DESC">
				<option value="L">L</option>
				<option value="M">M</option>
				<option value="Q">Q</option>
				<option value="H">H</option>
			</field>
			<field name="qr-enabled-location" type="list" default="phone" 
				label="COM_CONTACTENHANCED_QR_CODE_LOCATION_LABEL" 
				description="COM_CONTACTENHANCED_QR_CODE_LOCATION_DESC">
				<option value="address">COM_CONTACTENHANCED_QR_CODE_LOCATION_OPT_ADDRESS</option>
				<option value="phone">COM_CONTACTENHANCED_QR_CODE_LOCATION_OPT_PHONE</option>
			</field>
			<field name="qr-enabled-size" type="text" default="220" 
				label="COM_CONTACTENHANCED_QR_CODE_SIZE_LABEL" 
				description="COM_CONTACTENHANCED_QR_CODE_SIZE_DESC" />
			
	</fieldset>
	<fieldset name="Icons" label="COM_CONTACTENHANCED_ICONS_SETTINGS">

		<field name="contact_icons" type="list" default="0"
			label="COM_CONTACTENHANCED_FIELD_ICONS_SETTINGS_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ICONS_SETTINGS_DESC"
		>
			<option value="0">COM_CONTACTENHANCED_FIELD_VALUE_ICONS</option>
			<option value="1">COM_CONTACTENHANCED_FIELD_VALUE_TEXT</option>
			<option value="2">COM_CONTACTENHANCED_FIELD_VALUE_NONE</option>
		</field>

		<field name="icon_address" type="media"
			hide_none="1" label="COM_CONTACTENHANCED_FIELD_ICONS_ADDRESS_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ICONS_ADDRESS_DESC" />

		<field name="icon_email" type="media"
			hide_none="1" label="COM_CONTACTENHANCED_FIELD_ICONS_EMAIL_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ICONS_EMAIL_DESC" />

		<field name="icon_telephone" type="media"
			 hide_none="1"
			label="COM_CONTACTENHANCED_FIELD_ICONS_TELEPHONE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ICONS_TELEPHONE_DESC" />

		<field name="icon_mobile" type="media"
			 hide_none="1"
			label="COM_CONTACTENHANCED_FIELD_ICONS_MOBILE_LABEL" description="COM_CONTACTENHANCED_FIELD_ICONS_MOBILE_DESC" />

		<field name="icon_fax" type="media"
			hide_none="1" label="COM_CONTACTENHANCED_FIELD_ICONS_FAX_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ICONS_FAX_DESC" />

		<field name="icon_misc" type="media"
			hide_none="1" label="COM_CONTACTENHANCED_FIELD_ICONS_MISC_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ICONS_MISC_DESC" />
			
		<field name="icon_website" type="media"
			hide_none="1" label="COM_CONTACTENHANCED_FIELD_ICONS_WEBSITE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ICONS_WEBSITE_DESC" />
			
		<field name="icon_skype" type="media"
			hide_none="1" label="COM_CONTACTENHANCED_FIELD_ICONS_SKYPE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ICONS_SKYPE_DESC" />
			
		<field name="icon_facebook" type="media"
			hide_none="1" label="COM_CONTACTENHANCED_FIELD_ICONS_FACEBOOK_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ICONS_FACEBOOK_DESC" />
			
		<field name="icon_twitter" type="media"
			hide_none="1" label="COM_CONTACTENHANCED_FIELD_ICONS_TWITTER_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ICONS_TWITTER_DESC" />
			
		<field name="icon_linkedin" type="media"
			hide_none="1" label="COM_CONTACTENHANCED_FIELD_ICONS_LINKEDIN_LABEL"
			description="COM_CONTACTENHANCED_FIELD_ICONS_LINKEDIN_DESC" />
		
	</fieldset>

	<fieldset name="contacts"
		label="COM_CONTACTENHANCED_FIELD_CONFIG_TABLE_OF_CONTACTS"
	>
		<field name="contact_ordering" type="list" 
			default="ordering ASC" 
			label="CE_FIELD_ORDERING_LABEL" 
			description="CE_FIELD_ORDERING_DESC">
			<option value="created DESC"	>CE_FIELD_ORDERING_OPT_OLDEST_FIRST</option>
			<option value="created ASC"		>CE_FIELD_ORDERING_OPT_MOST_RECENT_FIRST</option>
			<option value="name ASC"		>CE_FIELD_ORDERING_OPT_TITLE_ALPHABETICAL</option>
			<option value="name DESC"		>CE_FIELD_ORDERING_OPT_TITLE_ALPHABETICAL_REVERSE</option>
			<option value="alias ASC"		>CE_FIELD_ORDERING_OPT_ALIAS</option>
			<option value="alias DESC"		>CE_FIELD_ORDERING_OPT_ALIAS_REVERSE</option>
			<option value="ordering ASC"	>CE_FIELD_ORDERING_OPT_ORDERING</option>
		</field>
		<field name="show_pagination_limit" type="radio"
			default="1"
			description="JGLOBAL_DISPLAY_SELECT_DESC"
			label="JGLOBAL_DISPLAY_SELECT_LABEL">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>		
		<field name="show_pagination" type="list"
			default="2"
			description="JGLOBAL_PAGINATION_DESC"
			label="JGLOBAL_PAGINATION_LABEL">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
			<option value="2">JGLOBAL_AUTO</option>
		</field>
		
		<field name="show_pagination_results"
			type="radio"
			default="1"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			description="JGLOBAL_PAGINATION_RESULTS_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="show_headings" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_CONFIG_TABLE_HEADINGS_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_TABLE_HEADINGS_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="show_contact_image" type="radio"
			default="1" label="COM_CONTACTENHANCED_FIELD_CONFIG_IMAGE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_IMAGE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="show_position_headings" type="radio"
			default="1" label="COM_CONTACTENHANCED_FIELD_CONFIG_POSITION_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_POSITION_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_email_headings" type="radio"
			default="0" label="COM_CONTACTENHANCED_FIELD_CONFIG_EMAIL_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_EMAIL_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_telephone_headings" type="radio"
			default="1" label="COM_CONTACTENHANCED_FIELD_CONFIG_PHONE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_PHONE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_mobile_headings" type="radio"
			default="1" label="COM_CONTACTENHANCED_FIELD_CONFIG_MOBILE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_MOBILE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_fax_headings" type="radio"
			default="1" label="COM_CONTACTENHANCED_FIELD_CONFIG_FAX_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_FAX_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="allow_vcard_headings" type="radio"
			default="0" label="COM_CONTACTENHANCED_FIELD_CONFIG_VCARD_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_VCARD_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_suburb_headings" type="radio"
			default="1" label="COM_CONTACTENHANCED_FIELD_CONFIG_SUBURB_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_SUBURB_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_state_headings" type="radio"
			default="1" label="COM_CONTACTENHANCED_FIELD_CONFIG_STATE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_STATE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_country_headings" type="radio"
			default="1" label="COM_CONTACTENHANCED_FIELD_CONFIG_COUNTRY_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_COUNTRY_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_webpage_headings"
			type="radio" default="0" 
			description="COM_CONTACTENHANCED_FIELD_PARAMS_WEBPAGE_DESC"
			label="COM_CONTACTENHANCED_FIELD_PARAMS_WEBPAGE_LABEL"
		>

			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
			<option value="trim">COM_CONTACTENHANCED_FIELD_PARAMS_WEBPAGE_OPT_TRIM</option>
		</field>
		
		<field name="block-view-title" type="title" default="" 
				label="COM_CONTACTENHANCED_FIELD_CONFIG_LIST_BLOCK_VIEW_LABEL" 
				description="COM_CONTACTENHANCED_FIELD_CONFIG_LIST_BLOCK_VIEW_DESC" />
			
		<field name="show_street_address_headings" type="radio"
			default="0" label="COM_CONTACTENHANCED_FIELD_CONFIG_ADDRESS_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_ADDRESS_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="show_postcode_headings" type="radio"
			default="0" label="COM_CONTACTENHANCED_FIELD_CONFIG_POSTCODE_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_POSTCODE_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
	</fieldset>
	<fieldset name="Contact_Form"
		label="COM_CONTACTENHANCED_FIELD_CONFIG_CONTACT_FORM"
	>
		<field name="enable_captcha" type="list" default="2" 
			label="COM_CONTACTENHANCED_SHOW_CAPTCHA" 
			description="COM_CONTACTENHANCED_SHOW_CAPTCHA_DESC">
			<option value="2">COM_CONTACTENHANCED_ALWAYS</option>
			<option value="1">COM_CONTACTENHANCED_WHEN_NOT_LOGGED_IN</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="debug_mode" type="radio" default="0" label="COM_CONTACTENHANCED_DEBUG_MODE_LABEL"
			description="COM_CONTACTENHANCED_DEBUG_MODE_DESC">
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		<field name="saveform" type="radio" default="1" label="CE_AUTO_SAVE_FORM" 
				description="CE_AUTO_SAVE_FORM_DESC">
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		
		<field name="honeypot" type="radio" default="1"
				label="COM_CONTACTENHANCED_HONEYPOT_LABEL" 
				description="COM_CONTACTENHANCED_HONEYPOT_DESC">
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>

		<field name="show_email_form" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_EMAIL_SHOW_FORM_LABEL"
			description="COM_CONTACTENHANCED_FIELD_EMAIL_SHOW_FORM_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field name="show_email_copy" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_EMAIL_EMAIL_COPY_LABEL"
			description="COM_CONTACTENHANCED_FIELD_EMAIL_EMAIL_COPY_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
			<option value="2">COM_CONTACTENHANCED_ALWAYS</option>
		</field>
		<field name="show_sidebar" type="list" default="0"
			label="CE_FIELD_EMAIL_SHOW_SIDEBAR_LABEL" 
			description="CE_FIELD_EMAIL_SHOW_SIDEBAR_DESC">
			<option value="0">JHIDE</option>
			<option value="left">CE_LEFT</option>
			<option value="right">CE_RIGHT</option>
		</field>
		<field name="showuserinfo" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_USERINFO_LABEL"
			description="COM_CONTACTENHANCED_FIELD_USERINFO_DESC"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="processplugins" type="radio" default="0" 
			label="CE_FIELD_EMAIL_SIDEBAR_PROCESS_PLUGINS_LABEL" 
			description="CE_FIELD_EMAIL_SIDEBAR_PROCESS_PLUGINS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="banned_email" type="textarea"
			label="COM_CONTACTENHANCED_FIELD_CONFIG_BANNED_EMAIL_LABEL" rows="3"
			cols="30" description="COM_CONTACTENHANCED_FIELD_CONFIG_BANNED_EMAIL_DESC" />

		<field name="banned_subject" type="textarea"
			label="COM_CONTACTENHANCED_FIELD_CONFIG_BANNED_SUBJECT_LABEL"
			rows="3" cols="30"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_BANNED_SUBJECT_DESC" />

		<field name="banned_text" type="textarea"
			label="COM_CONTACTENHANCED_FIELD_CONFIG_BANNED_TEXT_LABEL" rows="3"
			cols="30" description="COM_CONTACTENHANCED_FIELD_CONFIG_BANNED_TEXT_DESC" />

		<field name="validate_session" type="radio" default="1"
			label="COM_CONTACTENHANCED_FIELD_CONFIG_SESSION_CHECK_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_SESSION_CHECK_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<!-- field name="custom_reply" type="radio" default="0"
			label="COM_CONTACTENHANCED_FIELD_CONFIG_CUSTOM_REPLY_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_CUSTOM_REPLY_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field  -->

		<field name="redirect" type="text" size="30"
			label="COM_CONTACTENHANCED_FIELD_CONFIG_REDIRECT_LABEL"
			description="COM_CONTACTENHANCED_FIELD_CONFIG_REDIRECT_DESC" />
	</fieldset>

		<fieldset name="integration"
		label="JGLOBAL_INTEGRATION_LABEL"
		description="CE_CONFIG_INTEGRATION_SETTINGS_DESC">

		<field
			name="show_feed_link"
			type="radio"
			default="1"
			label="JGLOBAL_SHOW_FEED_LINK_LABEL"
			description="JGLOBAL_SHOW_FEED_LINK_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

		<field
			name="feed_summary"
			type="radio"
			label="JGLOBAL_FEED_SUMMARY_LABEL"
			description="JGLOBAL_FEED_SUMMARY_DESC"
			default="0">
			<option value="0">JGLOBAL_INTRO_TEXT</option>
			<option value="1">JGLOBAL_FULL_TEXT</option>
		</field>

	</fieldset>

	<fieldset name="Contact_Config_Meta_Data" label="COM_CONTACTENHANCED_FIELDSET_METADATA_OPTIONS">
		<field name="metakey" type="textarea"
			label="JFIELD_META_KEYWORDS_LABEL" description="JFIELD_META_KEYWORDS_DESC"
			rows="3" cols="30" />

		<field name="metadesc" type="textarea"
			label="JFIELD_META_DESCRIPTION_LABEL" description="JFIELD_META_DESCRIPTION_DESC"
			rows="3" cols="30" />

		<field name="robots" type="text"
			label="JFIELD_METADATA_ROBOTS_LABEL" description="JFIELD_METADATA_ROBOTS_DESC"
			size="20" />

		<field name="author" type="text"
			label="JAUTHOR" description="JFIELD_METADATA_AUTHOR_DESC"
			size="20" />

		<field name="rights" type="text"
			label="JFIELD_METADATA_RIGHTS_LABEL" description="JFIELD_METADATA_RIGHTS_DESC"
			size="20" />

		<field name="xreference" type="hidden"
			label="JFIELD_METADATA_XREFERENCE_LABEL" description="JFIELD_METADATA_XREFERENCE_DESC"
			size="30" />
	</fieldset>

	
	<fieldset name="template-config" label="COM_CONTACTENHANCED_CONFIG_TEMPLATE"
		description="COM_CONTACTENHANCED_CONFIG_TEMPLATE_DESC">
		
		<field name="emailTemplate" type="sql" default="plaintext" 
			label="CE_CONFIG_TEMPLATE_EMAIL_LABEL" 
			description="CE_CONFIG_TEMPLATE_EMAIL_DESC"
			query="SELECT id,name FROM #__ce_template WHERE type = 'email'"
			key_field="id" value_field="name">
			<option value="plaintext">CE_CONFIG_TEMPLATE_EMAIL_TYPE_PLAIN_TEXT</option>
		</field>
		<field name="emailCopyTemplate" type="sql" default="plaintext" 
			label="CE_CONFIG_TEMPLATE_EMAILCOPY_LABEL" 
			description="CE_CONFIG_TEMPLATE_EMAILCOPY_DESC"
			query="SELECT id,name FROM #__ce_template WHERE type = 'email'"
			key_field="id" value_field="name">
			<option value="plaintext">CE_CONFIG_TEMPLATE_EMAIL_TYPE_PLAIN_TEXT</option>
		</field>
		<field name="thankyoupageType" type="list" default="default" 
			label="CE_CONFIG_TEMPLATE_THANKYOUPAGE_TYPE_LABEL" 
			description="CE_CONFIG_TEMPLATE_THANKYOUPAGE_TYPE_DESC">
			<option value="default">JDEFAULT</option>
			<option value="alert">CE_CONFIG_TEMPLATE_THANKYOUPAGE_JAVASCRIPT_ALERT</option>
			<option value="html">CE_CONFIG_TEMPLATE_HTML_TEMPLATES</option>
		</field>
		<field name="thankyoupageTemplate" type="sql"  
			label="CE_CONFIG_TEMPLATE_THANKYOUPAGE_LABEL" 
			description="CE_CONFIG_TEMPLATE_THANKYOUPAGE_DESC"
			query="SELECT id,name FROM #__ce_template  WHERE type = 'resultpage'"
			key_field="id" value_field="name">
			
		</field>
	</fieldset>
	
	<fieldset name="map-config" label="CE_CONFIG_MAP" description="CE_CONFIG_MAP_DESC">
		<field name="show_map" type="list" default="beforeform"
			label="CE_GMAPS_SHOW_MAP_LABEL"
			description="CE_GMAPS_SHOW_MAP_DESC">
			<option value="0">JHIDE</option>
			<option value="beforeform">CE_CONFIG_BEFORE_FORM</option>
			<option value="afterform">CE_CONFIG_AFTER_FORM</option>
			<option value="sidebar">CE_CONFIG_INSIDE_SIDEBAR</option>
		</field>
		
		<field name="gmaps_display_type" type="radio" default="inline" label="CE_GMAPS_DISPLAY_TYPE_LABEL" 
			description="CE_GMAPS_DISPLAY_TYPE_DESC">
			<option value="inline">CE_CONFIG_INLINE</option>
			<option value="modal">CE_CONFIG_MODAL_WINDOW</option>
		</field>
		<field name="gmaps_useDirections" type="radio" default="1"
				label="CE_GMAPS_USE_DIRECTIONS"
				description="CE_GMAPS_USE_DIRECTIONS_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
			<option value="no_slider">CE_GMAPS_USE_DIRECTIONS_OPT_NO_SLIDER</option>
		</field>
		<field name="gmaps_showAvoidTolls" type="radio" default="1"
				label="CE_GMAPS_AVOID_TOLLS"
				description="CE_GMAPS_AVOID_TOLLS_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmaps_showAvoidHighways" type="radio" default="1"
				label="CE_GMAPS_AVOID_HIGHWAYS"
				description="CE_GMAPS_AVOID_HIGHWAYS_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="gmaps_showCoordinates" type="radio" default="1"
				label="CE_GMAPS_SHOW_COORDINATES"
				description="CE_GMAPS_SHOW_COORDINATES_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmap_mapTypeControl" type="radio" default="1"
				label="CE_GMAPS_MAPTYPE_CONTROL"
				description="CE_GMAPS_MAPTYPE_CONTROL_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="gmaps_MapTypeId" type="list" default="ROADMAP"
				label="CE_GMAPS_MAPTYPE"
				description="CE_GMAPS_MAPTYPE_ROADMAP_DESC">
			<option value="ROADMAP">CE_GMAPS_MAPTYPE_ROADMAP</option>
			<option value="SATELLITE">CE_GMAPS_MAPTYPE_SATELLITE</option>
			<option value="HYBRID">CE_GMAPS_MAPTYPE_HYBRID</option>
			<option value="TERRAIN">CE_GMAPS_MAPTYPE_TERRAIN</option>
		</field>
		<field name="gmap_navigationControl" type="radio" default="1"
				label="CE_GMAPS_NAVIGATION_CONTROL"
				description="CE_GMAPS_NAVIGATION_CONTROL_DESC">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field name="gmaps_icon" type="imagelist" 
				directory="/components/com_contactenhanced/assets/images/gmaps/marker" hide_none="1" 
				default="" label="CE_GMAPS_MARKER_ICON" 
				description="CE_GMAPS_MARKER_ICON_DESC" />
		<field name="gmaps_icon_shadow" type="imagelist" 
				directory="/components/com_contactenhanced/assets/images/gmaps/shadow" hide_none="1" 
				default="" label="CE_GMAPS_MARKER_ICON_SHADOW" 
				description="CE_GMAPS_MARKER_ICON_SHADOW_DESC" />
		
		
		<field name="gmap_infoWindowDisplay" type="list" default="alwaysOn"
				label="CE_GMAPS_INFO_WINDOW_DISPLAY"
				description="CE_GMAPS_INFO_WINDOW_DISPLAY_DESC">
			<option value="alwaysOn">CE_GMAPS_INFO_WINDOW_DISPLAY_ALWAYS_ON</option>
			<option value="onClick">CE_GMAPS_INFO_WINDOW_DISPLAY_ON_CLICK</option>
			<option value="hide">JHIDE</option>
		</field>
		
		<field name="gmap_infoWindowContent" type="list" default="address"
				label="CE_GMAPS_INFO_WINDOW_CONTENT"
				description="CE_GMAPS_INFO_WINDOW_CONTENT_DESC">
			<option value="address">CE_GMAPS_MARKER_ADDRESS</option>
			<option value="extra_field_1">EXTRA_FIELD_1</option>
			<option value="extra_field_2">EXTRA_FIELD_2</option>
			<option value="extra_field_3">EXTRA_FIELD_3</option>
			<option value="extra_field_4">EXTRA_FIELD_4</option>
			<option value="extra_field_5">EXTRA_FIELD_5</option>
		</field>
			
		<field name="gmap_scrollWheel" type="radio" default="1"
				label="CE_GMAPS_SCROLLWHEEL"
				description="CE_GMAPS_SCROLLWHEEL_DESC">
			<option value="1">CE_TRUE</option>
			<option value="0">CE_FALSE</option>
		</field>
			
		<field name="gmaps_DirectionsTravelMode" type="list" default="DRIVING"
				label="CE_GMAPS_DIRECTIONS_TRAVEL_MODE"
				description="CE_GMAPS_DIRECTIONS_TRAVEL_MODE_DESC">
			<option value="show_option">CE_GMAPS_DRIVING_MODE_SHOW_OPTION</option>
			<option value="DRIVING">CE_GMAPS_DRIVING_MODE_DRIVING</option>
			<option value="BICYCLING">CE_GMAPS_DRIVING_MODE_BICYCLING</option>
			<option value="WALKING">CE_GMAPS_DRIVING_MODE_WALKING</option>
		</field>
		<field name="gmaps_language" type="list" default="auto"
				label="CE_GMAPS_LANGUAGE"
				description="CE_GMAPS_LANGUAGE_DESC">
			<option value="auto">Auto - Get browser's language</option>
			<option value="joomla">Joomla - Get the Joomla language (if available)</option>
			<option value="ar">ARABIC</option>
			<option value="bg">BULGARIAN</option>
			<option value="bn">BENGALI</option>
			<option value="ca">CATALAN</option>
			<option value="cs">CZECH</option>
			<option value="da">DANISH</option>
			<option value="de">GERMAN</option>
			<option value="el">GREEK</option>
			<option value="en">ENGLISH</option>
			<option value="en-AU">ENGLISH (AUSTRALIAN)</option>
			<option value="en-GB">ENGLISH (GREAT BRITAIN)</option>
			<option value="es">SPANISH</option>
			<option value="eu">BASQUE</option>
			<option value="eu">BASQUE</option>
			<option value="fa">FARSI</option>
			<option value="fi">FINNISH</option>
			<option value="fil">FILIPINO</option>
			<option value="fr">FRENCH</option>
			<option value="gl">GALICIAN</option>
			<option value="gu">GUJARATI</option>
			<option value="hi">HINDI</option>
			<option value="hr">CROATIAN</option>
			<option value="hu">HUNGARIAN</option>
			<option value="id">INDONESIAN</option>
			<option value="it">ITALIAN</option>
			<option value="iw">HEBREW</option>
			<option value="ja">JAPANESE</option>
			<option value="kn">KANNADA</option>
			<option value="ko">KOREAN</option>
			<option value="lt">LITHUANIAN</option>
			<option value="lv">LATVIAN</option>
			<option value="ml">MALAYALAM</option>
			<option value="mr">MARATHI</option>
			<option value="nl">DUTCH</option>
			<option value="no">NORWEGIAN</option>
			<option value="pl">POLISH</option>
			<option value="pt">PORTUGUESE</option>
			<option value="pt-BR">PORTUGUESE (BRAZIL)</option>
			<option value="pt-PT">PORTUGUESE (PORTUGAL)</option>
			<option value="ro">ROMANIAN</option>
			<option value="ru">RUSSIAN</option>
			<option value="sk">SLOVAK</option>
			<option value="sl">SLOVENIAN</option>
			<option value="sr">SERBIAN</option>
			<option value="sv">SWEDISH</option>
			<option value="ta">TAMIL</option>
			<option value="te">TELUGU</option>
			<option value="th">THAI</option>
			<option value="tl">TAGALOG</option>
			<option value="tr">TURKISH</option>
			<option value="uk">UKRAINIAN</option>
			<option value="vi">VIETNAMESE</option>
			<option value="zh-CN">CHINESE (SIMPLIFIED)</option>
			<option value="zh-TW">CHINESE (TRADITIONAL)</option>
	
		</field>
		
	</fieldset>
	<fieldset name="search" addfieldpath="/administrator/components/com_contactenhanced/models/fields"
		label="COM_CONTACTENHANCED_FIELD_CONFIG_SEARCH_OPTIONS">
		<field name="search_fields" type="cecontactfields" 
         	default="name" multiple="1" hide_all="1"
         	label="CE_CONFIG_SEARCH_CONTACT_FIELDS_LABEL"
         	description="CE_CONFIG_SEARCH_CONTACT_FIELDS_DESC">
        </field>
        <!-- field name="search_heading" type="text" 
         	default="" 
         	label="CE_CONFIG_SEARCH_HEADING_LABEL"
         	description="CE_CONFIG_SEARCH_HEADING_DESC" >
        </field -->
        <field name="exclude-categories" 	type="multiplecategories"	multiple="1" 	default=""
			extension="com_contactenhanced" 
			label="COM_CONTACTENHANCED_SEARCH_EXCLUDE_CATEGORIES_LABEL" 
			description="COM_CONTACTENHANCED_SEARCH_EXCLUDE_CATEGORIES_DESC" />
  			
		<field name="searchphrase" type="radio" default="all" 
			label="COM_CONTACTENHANCED_SEARCH_PHRASE_LABEL" 
			description="COM_CONTACTENHANCED_SEARCH_PHRASE_DESC">
			<option value="all">COM_CONTACTENHANCED_SEARCH_PHRASE_OPT_ALL</option>
			<option value="any">COM_CONTACTENHANCED_SEARCH_PHRASE_OPT_ANY</option>
		</field>
	</fieldset>
	
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_contactenhanced"
			section="component" />
	</fieldset>
	
</config>
