/* Tool Bar buttons*/
.icon-32-export{background-image:url(../images/toolbar/icon-32-export.png) !important}
.icon-32-import{background-image:url(../images/toolbar/icon-32-import.png) !important}
ul.adminformlist,ul.adminformlist li{clear:both}
.message-name{font-weight:bolder;color:#006699;float:left}
.message-email{color:#808080;float:left;padding-left:5px}
.message-date{color:#EE9600;float:right}
.message-attachment{float:right}
pre.message{padding:10px 0 0 0}

.attachment-container{padding:5px 5px 5px 35px;background-repeat:no-repeat}
.attachment-container span{padding:0 0 0 5px}
.attachment-filename{font-weight:bolder}

#reply-actions{background:#F7F7F7;font-size:105%;height:20px;padding:9px}
#reply-actions a.reply{padding-left:17px;background:transparent url(../images/interface/reply.png) no-repeat 0 0}

#email-container{background:#EAEAE6;width:100%}
#email-container table{width:100%}
#email-container .inputbox{width:100%}

.email-label-container{width:60px;text-align:right}
#email-enable-links a{padding-right:5px}
a.email-add-attachments{padding-left:20px;background:transparent url(../images/interface/attachment.png) no-repeat 0 0}
a.email-add-canned-answer{padding-left:20px;background:transparent url(../images/interface/attachment.png) no-repeat 0 0}
#email-container textarea#message{height:300px;padding:3px}

/* Map styling */
input.mapcontrol{}
#ce_map_canvas{height:300px}

.panel table.admintable td {background-color:#FFFFFF;}


/* Top Box */
div#topbox div{padding:20px;background-color:#F9F9F9;-moz-border-radius:15px;border:1px solid #CCC;}
div#topbox{text-align:center;margin:5px;padding:20px}

/* Tool Bar buttons*/
.icon-32-export{background-image:url(../images/toolbar/icon-32-export.png)}
.icon-32-import{background-image:url(../images/toolbar/icon-32-import.png)}
.icon-48-message,.icon-48-messages,
.icon-48-customfield,.icon-48-customfield,
.icon-48-templates,.icon-48-template,
.icon-48-customvalues,.icon-48-customvalue,
.icon-48-ce-contacts,.icon-48-ce-contact{background-image:url(../images/icon-48.png)}

ul.ce-submenu{-moz-border-radius:15px;border:1px solid #CCC;background:#f6f6f6;height:10px;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:5px 0 8px 20px}
ul.ce-submenu li{float:left;margin:0;padding:0}
ul.ce-submenu li a, ul.ce-submenu li span.nolink{border-right:1px solid #CCC;color:#0B55C4;cursor:pointer;font-weight:bold;height:12px;line-height:12px;padding:0 15px}
ul.ce-submenu li span.nolink{text-decoration:underline;color:#000}

.text-area-order{width:45px}
.CodeMirror-wrapping{border:1px solid #CCC}

div.width-100 fieldset{border:1px solid #CCC !important}