h4.block-head{margin:10px -5px 0;font-size:12px;color:#333;background:url(../images/grad.png) repeat-x top;border:1px solid #ddd;border-top:1px solid #eee;padding:5px}
.block-des{color:#666;margin:0 -5px;padding:5px 5px 0;font-size:95%}
.block-des ol li{list-style:decimal !important;margin-left:25px !important}
h4.clearfix{clear:both}