
#offlajn-accordion-165-1-container-inner{
  overflow: hidden;
}

div#offlajn-accordion-165-1-container div,
div#offlajn-accordion-165-1-container dl,
div#offlajn-accordion-165-1-container dt,
div#offlajn-accordion-165-1-container dd,
div#offlajn-accordion-165-1-container span,
div#offlajn-accordion-165-1-container a,
div#offlajn-accordion-165-1-container img,
div#offlajn-accordion-165-1-container h3{
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  float: none;
  clear: none;
  line-height: normal;
  position: static;
  list-style: none;
}

.dj_ie7 #offlajn-accordion-165-1-container div,
.dj_ie7 #offlajn-accordion-165-1-container dl,
.dj_ie7 #offlajn-accordion-165-1-container dt,
.dj_ie7 #offlajn-accordion-165-1-container dd,
.dj_ie7 #offlajn-accordion-165-1-container span,
.dj_ie7 #offlajn-accordion-165-1-container a,
.dj_ie7 #offlajn-accordion-165-1-container img,
.dj_ie7 #offlajn-accordion-165-1-container h3{
  width: 100%;
}

#offlajn-accordion-165-1-container span,
#offlajn-accordion-165-1-container a,
#offlajn-accordion-165-1-container img{
  vertical-align: middle;
}

div#offlajn-accordion-165-1-container img{
  margin: 0 4px;
}

#offlajn-accordion-165-1-container dl.level1 dl{
  position: absolute;
    width: 100%;
}

#offlajn-accordion-165-1-container dl.level1 dd{
  display: block;
  overflow: hidden;
  height: 0px;
  width: 100%;
  margin: 0;
  position: relative;
}

.dj_ie #offlajn-accordion-165-1-container dl.level1 dd{
  display: none;
}

#offlajn-accordion-165-1-container dl.level1 dd.opening, 
#offlajn-accordion-165-1-container dl.level1 dd.closing,
#offlajn-accordion-165-1-container dl.level1 dd.opened{
  display: block;
}

#offlajn-accordion-165-1-container dl.level1 dd.parent.opened{
  height: auto;
}

#offlajn-accordion-165-1-container dl.level1 dd.parent.opened > dl{
  position: relative;
}#offlajn-accordion-165-1-container{
  margin: 0px 0px 5px 0px ;
}


#offlajn-accordion-165-1-container .offlajn-accordion-165-1-container-inner {
    background: none;
    overflow: hidden;
  width: 100%;
 ?>;
}

#offlajn-accordion-165-1-container dl,
#offlajn-accordion-165-1-container dt{
  display: block;
  position: relative;
}

#offlajn-accordion-165-1-container .title{
  min-height: 36px;
}

#offlajn-accordion-165-1-container .title h3{
  margin: 0;
  padding-top: 8px;
  padding-bottom: 5px;
  min-height: 26px;
  font-family: Arial;
font-size: 18px;
color: #ffffff;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
line-height: normal;
}

#offlajn-accordion-165-1-container dl,
#offlajn-accordion-165-1-container dt,
#offlajn-accordion-165-1-container dd{
  position: relative;
}

/*
border radius hack
*/
#offlajn-accordion-165-1-container .level1 dt.last:HOVER,
#offlajn-accordion-165-1-container .level1 dt.last.opening,
#offlajn-accordion-165-1-container .level1 dt.last.opened,
#offlajn-accordion-165-1-container .level1 dt.first:HOVER,
#offlajn-accordion-165-1-container .level1 dt.first.opening,
#offlajn-accordion-165-1-container .level1 dt.first.opened{
  -webkit-border-radius: 5px 5px 5px 5px ;
  -moz-border-radius: 5px 5px 5px 5px ;
  border-radius: 5px 5px 5px 5px ;
}

#offlajn-accordion-165-1-container .level1 dt.last:HOVER,
#offlajn-accordion-165-1-container .level1 dt.last.opening,
#offlajn-accordion-165-1-container .level1 dt.last.opened{
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#offlajn-accordion-165-1-container .level1 dt.first:HOVER,
#offlajn-accordion-165-1-container .level1 dt.first.opening,
#offlajn-accordion-165-1-container .level1 dt.first.opened{
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#offlajn-accordion-165-1-container .level2 dt.last:HOVER,
#offlajn-accordion-165-1-container .level2 dt.last.opening,
#offlajn-accordion-165-1-container .level2 dt.last.opened,
#offlajn-accordion-165-1-container .level2 dt.first:HOVER,
#offlajn-accordion-165-1-container .level2 dt.first.opening,
#offlajn-accordion-165-1-container .level2 dt.first.opened{
  border-radius: 0;
}


/*
Level specific iteration
*/


/*
Productnum
*/

#offlajn-accordion-165-1-container dl.level1 dt .inner .productnum{
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #bcbcbc;
    margin-top: -2px;
    line-height: 18px;
     margin-left: 5px;    
    float: right;   
  border-radius: 9px;
  font-size: 10px;
  line-height: 18px;
     margin-right: 20px;
  }

.dj_ie7 #offlajn-accordion-165-1-container dl.level1 dt .inner span{
 float: left;
}


.dj_ie7 #offlajn-accordion-165-1-container dl.level1 dt .inner .productnum{
 width: 50px;
 float: right;
 margin-top: -15px;
}

.dj_ie7 #offlajn-accordion-165-1-container dl.level1 dt .inner .productnum{
  margin-right: -20px;
  width: auto;
}  

.dj_ie9 #offlajn-accordion-165-1-container dl.level1 dt .inner .productnum {
  line-height: 16px;
  padding-top: 2px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4) inset, 0 0 2px rgba(255, 255, 255, 0.8) inset;  
}

.dj_ie9 #offlajn-accordion-165-1-container dl.level2 dt .inner .productnum {
  line-height: 14px;
  padding-top: 1px;
}

#offlajn-accordion-165-1-container dl.level1 dt .inner .productnum.one{
  padding-left: 10px;
  padding-right: 10px;
}

#offlajn-accordion-165-1-container dl.level1 dt .inner .productnum.more{
  padding-left: 8px;
  padding-right: 8px;
}

#offlajn-accordion-165-1-container dl.level1 dt.opened .inner .productnum,
#offlajn-accordion-165-1-container dl.level1 dt.opening .inner .productnum,
#offlajn-accordion-165-1-container dl.level1 dt:HOVER .inner .productnum{
  background: url('') repeat;
  -moz-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4) inset;
}

.dj_ie7 #offlajn-accordion-165-1-container SPAN {
  width: auto;
  padding-right: 10px;
}
/*
Plus
*/

#offlajn-accordion-165-1-container dl.level1 dt.parent .inner{
      background-image: none;
    background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}

/*
Minus
*/
#offlajn-accordion-165-1-container dl.level1 dt.parent.opened .inner,
#offlajn-accordion-165-1-container dl.level1 dt.parent.opening .inner{
      background-image: none;
    background-position: left center;
}
#offlajn-accordion-165-1-container .level1 dt{
  margin: 0px 0px 0px 0px ;
  margin-bottom: 0px;
}

#offlajn-accordion-165-1-container .level1 dt.last{
  margin: 0px 0px 0px 0px ;
}
/*
#offlajn-accordion-165-1-container .level1 dt.opened,
#offlajn-accordion-165-1-container .level1 dt.opening,
#offlajn-accordion-165-1-container .level1 dt.closing{
  margin-bottom: 0px;
}

#offlajn-accordion-165-1-container .level1 dl{
  margin: 0px 0px 0px 0px ;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}*/


#offlajn-accordion-165-1-container .level1 dt,
#offlajn-accordion-165-1-container .level1 dt:HOVER,
#offlajn-accordion-165-1-container .level1 dt.opened{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}

#offlajn-accordion-165-1-container .level1 dt:HOVER{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}

#offlajn-accordion-165-1-container .level1 dt.opening,
#offlajn-accordion-165-1-container .level1 dt.opened{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}


#offlajn-accordion-165-1-container .level1 dt.active{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}

#offlajn-accordion-165-1-container dl.level1 .outer{
  padding: 3px 0px 3px 0px ;
  display: block;
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat-x 0 100%;}
#offlajn-accordion-165-1-container dl.level1{
  display: block;
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat-x 0 0;}

#offlajn-accordion-165-1-container dl.level1 .inner{
  display: block;
  padding: 3px 0px 4px 15px ;
  margin: 0 0 0 8px;
}

.dj_ie6 #offlajn-accordion-165-1-container dl.level1 .inner a,
.dj_ie7 #offlajn-accordion-165-1-container dl.level1 .inner a{
  float: left;
}

#offlajn-accordion-165-1-container dl.level1 dt span{
  font-size: 12px;
color: #f4ad02;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 0px 0px 0px #f4ad02;
line-height: normal;
}

#offlajn-accordion-165-1-container dl.level1 dt a,
#offlajn-accordion-165-1-container dl.level1 dt a span{
  font-size: 12px;
color: #ffffff;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 0px 0px 0px #f4ad02;
line-height: normal;
}

#offlajn-accordion-165-1-container dl.level1 dt.active a,
#offlajn-accordion-165-1-container dl.level1 dt.active a span{
  font-size: 12px;
color: #ffffff;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 0px 0px 0px #f4ad02;
line-height: normal;
}

#offlajn-accordion-165-1-container dl.level1 dt a:HOVER,
#offlajn-accordion-165-1-container dl.level1 dt a:HOVER span{
  font-size: 12px;
color: #ffffff;
font-weight: bold;
font-style: normal;
text-decoration: none;
text-align: left;
text-shadow: 0px 0px 0px #f4ad02;
line-height: normal;
  background: none;
}



/*
Productnum
*/

#offlajn-accordion-165-1-container dl.level2 dt .inner .productnum{
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #bcbcbc;
    margin-top: -2px;
    line-height: 18px;
     margin-left: 5px;    
    float: right;   
  border-radius: 9px;
  font-size: 10px;
  line-height: 18px;
     margin-right: 20px;
  }

.dj_ie7 #offlajn-accordion-165-1-container dl.level2 dt .inner span{
 float: left;
}


.dj_ie7 #offlajn-accordion-165-1-container dl.level2 dt .inner .productnum{
 width: 50px;
 float: right;
 margin-top: -15px;
}

.dj_ie7 #offlajn-accordion-165-1-container dl.level2 dt .inner .productnum{
  margin-right: -20px;
  width: auto;
}  

.dj_ie9 #offlajn-accordion-165-1-container dl.level1 dt .inner .productnum {
  line-height: 16px;
  padding-top: 2px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4) inset, 0 0 2px rgba(255, 255, 255, 0.8) inset;  
}

.dj_ie9 #offlajn-accordion-165-1-container dl.level2 dt .inner .productnum {
  line-height: 14px;
  padding-top: 1px;
}

#offlajn-accordion-165-1-container dl.level2 dt .inner .productnum.one{
  padding-left: 10px;
  padding-right: 10px;
}

#offlajn-accordion-165-1-container dl.level2 dt .inner .productnum.more{
  padding-left: 8px;
  padding-right: 8px;
}

#offlajn-accordion-165-1-container dl.level2 dt.opened .inner .productnum,
#offlajn-accordion-165-1-container dl.level2 dt.opening .inner .productnum,
#offlajn-accordion-165-1-container dl.level2 dt:HOVER .inner .productnum{
  background: url('') repeat;
  -moz-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4) inset;
}

.dj_ie7 #offlajn-accordion-165-1-container SPAN {
  width: auto;
  padding-right: 10px;
}
/*
Plus
*/

#offlajn-accordion-165-1-container dl.level2 dt.parent .inner{
      background-image: none;
    background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}

/*
Minus
*/
#offlajn-accordion-165-1-container dl.level2 dt.parent.opened .inner,
#offlajn-accordion-165-1-container dl.level2 dt.parent.opening .inner{
      background-image: none;
    background-position: left center;
}
#offlajn-accordion-165-1-container .level2 dt{
  margin: 0px 0px 0px 0px ;
  margin-bottom: 0px;
}

#offlajn-accordion-165-1-container .level2 dt.last{
  margin: 0px 0px 0px 0px ;
}
/*
#offlajn-accordion-165-1-container .level2 dt.opened,
#offlajn-accordion-165-1-container .level2 dt.opening,
#offlajn-accordion-165-1-container .level2 dt.closing{
  margin-bottom: 0px;
}

#offlajn-accordion-165-1-container .level2 dl{
  margin: 0px 0px 0px 0px ;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}*/


#offlajn-accordion-165-1-container .level2 dt,
#offlajn-accordion-165-1-container .level2 dt:HOVER,
#offlajn-accordion-165-1-container .level2 dt.opened{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}

#offlajn-accordion-165-1-container .level2 dt:HOVER{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}

#offlajn-accordion-165-1-container .level2 dt.opening,
#offlajn-accordion-165-1-container .level2 dt.opened{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}


#offlajn-accordion-165-1-container .level2 dt.active{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}

#offlajn-accordion-165-1-container dl.level2 .outer{
  padding: 3px 0px 3px 0px ;
  display: block;
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat-x 0 100%;}

#offlajn-accordion-165-1-container dl.level2 .inner{
  display: block;
  padding: 3px 0px 4px 30px ;
  margin: 0 0 0 8px;
}

.dj_ie6 #offlajn-accordion-165-1-container dl.level2 .inner a,
.dj_ie7 #offlajn-accordion-165-1-container dl.level2 .inner a{
  float: left;
}

#offlajn-accordion-165-1-container dl.level2 dt span{
  font-size: 11px;
font-weight: bold;
text-align: left;
}

#offlajn-accordion-165-1-container dl.level2 dt a,
#offlajn-accordion-165-1-container dl.level2 dt a span{
  font-size: 11px;
font-weight: bold;
text-align: left;
}

#offlajn-accordion-165-1-container dl.level2 dt.active a,
#offlajn-accordion-165-1-container dl.level2 dt.active a span{
  font-size: 11px;
font-weight: bold;
text-align: left;
}

#offlajn-accordion-165-1-container dl.level2 dt a:HOVER,
#offlajn-accordion-165-1-container dl.level2 dt a:HOVER span{
  font-size: 11px;
font-weight: bold;
text-align: left;
  background: none;
}



/*
Productnum
*/

#offlajn-accordion-165-1-container dl.level3 dt .inner .productnum{
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #bcbcbc;
    margin-top: -2px;
    line-height: 18px;
     margin-left: 5px;    
    float: right;   
  border-radius: 9px;
  font-size: 10px;
  line-height: 18px;
     margin-right: 20px;
  }

.dj_ie7 #offlajn-accordion-165-1-container dl.level3 dt .inner span{
 float: left;
}


.dj_ie7 #offlajn-accordion-165-1-container dl.level3 dt .inner .productnum{
 width: 50px;
 float: right;
 margin-top: -15px;
}

.dj_ie7 #offlajn-accordion-165-1-container dl.level3 dt .inner .productnum{
  margin-right: -20px;
  width: auto;
}  

.dj_ie9 #offlajn-accordion-165-1-container dl.level1 dt .inner .productnum {
  line-height: 16px;
  padding-top: 2px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4) inset, 0 0 2px rgba(255, 255, 255, 0.8) inset;  
}

.dj_ie9 #offlajn-accordion-165-1-container dl.level2 dt .inner .productnum {
  line-height: 14px;
  padding-top: 1px;
}

#offlajn-accordion-165-1-container dl.level3 dt .inner .productnum.one{
  padding-left: 10px;
  padding-right: 10px;
}

#offlajn-accordion-165-1-container dl.level3 dt .inner .productnum.more{
  padding-left: 8px;
  padding-right: 8px;
}

#offlajn-accordion-165-1-container dl.level3 dt.opened .inner .productnum,
#offlajn-accordion-165-1-container dl.level3 dt.opening .inner .productnum,
#offlajn-accordion-165-1-container dl.level3 dt:HOVER .inner .productnum{
  background: url('') repeat;
  -moz-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.4) inset;
}

.dj_ie7 #offlajn-accordion-165-1-container SPAN {
  width: auto;
  padding-right: 10px;
}
/*
Plus
*/

#offlajn-accordion-165-1-container dl.level3 dt.parent .inner{
      background-image: none;
    background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}

/*
Minus
*/
#offlajn-accordion-165-1-container dl.level3 dt.parent.opened .inner,
#offlajn-accordion-165-1-container dl.level3 dt.parent.opening .inner{
      background-image: none;
    background-position: left center;
}
#offlajn-accordion-165-1-container .level3 dt{
  margin: 0px 0px 0px 0px ;
  margin-bottom: 0px;
}

#offlajn-accordion-165-1-container .level3 dt.last{
  margin: 0px 0px 0px 0px ;
}
/*
#offlajn-accordion-165-1-container .level3 dt.opened,
#offlajn-accordion-165-1-container .level3 dt.opening,
#offlajn-accordion-165-1-container .level3 dt.closing{
  margin-bottom: 0px;
}

#offlajn-accordion-165-1-container .level3 dl{
  margin: 0px 0px 0px 0px ;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}*/


#offlajn-accordion-165-1-container .level3 dt,
#offlajn-accordion-165-1-container .level3 dt:HOVER,
#offlajn-accordion-165-1-container .level3 dt.opened{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}

#offlajn-accordion-165-1-container .level3 dt:HOVER{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}

#offlajn-accordion-165-1-container .level3 dt.opening,
#offlajn-accordion-165-1-container .level3 dt.opened{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}


#offlajn-accordion-165-1-container .level3 dt.active{
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/67702dea9c80d8f7a37a6c9678bafba6.png') repeat ;background: rgba(255, 255, 255, 0);}

#offlajn-accordion-165-1-container dl.level3 .outer{
  padding: 3px 0px 3px 0px ;
  display: block;
  background: url('/live/modules/mod_accordion_menu/cache/165-langen-GB/4caaeb6fbf6ceeae4d9caaf8813ce1b3.png') repeat-x 0 100%;}

#offlajn-accordion-165-1-container dl.level3 .inner{
  display: block;
  padding: 4px 0px 5px 40px ;
  margin: 0 0 0 8px;
}

.dj_ie6 #offlajn-accordion-165-1-container dl.level3 .inner a,
.dj_ie7 #offlajn-accordion-165-1-container dl.level3 .inner a{
  float: left;
}

#offlajn-accordion-165-1-container dl.level3 dt span{
  font-family: Arial;
text-align: left;
}

#offlajn-accordion-165-1-container dl.level3 dt a,
#offlajn-accordion-165-1-container dl.level3 dt a span{
  font-family: Arial;
text-align: left;
}

#offlajn-accordion-165-1-container dl.level3 dt.active a,
#offlajn-accordion-165-1-container dl.level3 dt.active a span{
  font-family: Arial;
text-align: left;
}

#offlajn-accordion-165-1-container dl.level3 dt a:HOVER,
#offlajn-accordion-165-1-container dl.level3 dt a:HOVER span{
  font-family: Arial;
text-align: left;
  background: none;
}

