<?xml version="1.0" encoding="UTF-8"?>
<form>
	<fieldset name="basic">
		<field name="id" type="hidden" class="readonly" label="JGLOBAL_FIELD_ID_LABEL"
			description="JGLOBAL_FIELD_ID_DESC" size="10" default="0" readonly="true" />

		<field name="compatibility" type="radio"
			label="COM_PRODUCTBUILDER_CONFIG_DISPLAY_COMPATIBILITY_LABEL"
			description="COM_PRODUCTBUILDER_CONFIG_DISPLAY_COMPATIBILITY_DESC"
			class="inputbox" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="disp_price" type="radio"
			label="COM_PRODUCTBUILDER_CONFIG_DISPLAY_PRICE_LABEL" description="COM_PRODUCTBUILDER_CONFIG_DISPLAY_COMPATIBILITY_DESC"
			class="inputbox" default="1">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="name_price_sep" type="text"
			label="COM_PRODUCTBUILDER_CONFIG_NAMEPRICE_SEPARATOR_LABEL"
			description="COM_PRODUCTBUILDER_CONFIG_NAMEPRICE_SEPARATOR_DESC"
			class="inputbox" size="10" />
	</fieldset>

	<fieldset name="styling">
		
			
		<field name="groups_area_bckgr" type="text" maxlength="6"
			label="COM_PRODUCTBUILDER_CONFIG_GR_AREA_BACKGR_LABEL" description="COM_PRODUCTBUILDER_CONFIG_GR_AREA_BACKGR__DESC"
			class="inputbox color {required:false}" size="15" />

		<field name="group_bckgr" type="text" maxlength="6"
			label="COM_PRODUCTBUILDER_CONFIG_GR_BACKGR_LABEL" description="COM_PRODUCTBUILDER_CONFIG_GR_BACKGR_DESC"
			class="inputbox color {required:false}" size="15" />		

		<field name="group_border_color" type="text" maxlength="6"
			label="COM_PRODUCTBUILDER_CONFIG_GR_BORDER_COLOR_LABEL"
			class="inputbox color {required:false}" size="15" />
			
		<field name="group_border_radius" type="text" maxlength="2" class="readonly"
			label="COM_PRODUCTBUILDER_CONFIG_GR_BORDER_RADIUS_LABEL"
			description="COM_PRODUCTBUILDER_CONFIG_GR_BORDER_RADIUS_DESC"
			size="2" default="0"/>
		
		<field name="gr_header_bckgr" type="text" maxlength="6"
			label="COM_PRODUCTBUILDER_CONFIG_GR_HEADER_BACKGR_LABEL"
			class="inputbox color {required:false}" size="15" />
			
		<field name="gr_header_font_color" type="text" maxlength="6"
			label="COM_PRODUCTBUILDER_CONFIG_GR_HEADER_COLOR_LABEL"
			class="inputbox color {required:false}" size="15" />
		
		<field name="gr_header_font_size" type="text" 
			label="COM_PRODUCTBUILDER_CONFIG_GR_HEADER_FSIZE_LABEL" description="COM_PRODUCTBUILDER_CONFIG_GR_HEADER_FSIZE_DESC"
			class="inputbox" size="10" />		
		
		<field name="gr_header_text_shadow" type="text" maxlength="6"
			label="COM_PRODUCTBUILDER_CONFIG_GR_HEADER_TXT_SHADOW_LABEL" description="COM_PRODUCTBUILDER_CONFIG_GR_HEADER_TXT_SHADOW_DESC"
			class="inputbox color {required:false}" size="15" />
		
		<field name="attr_font_color" type="text" maxlength="6"
			label="COM_PRODUCTBUILDER_CONFIG_ATTRIBUTE_COLOR_LABEL"
			class="inputbox color {required:false}" size="15" />
	
		<field name="img_border_color" type="text" maxlength="6"
			label="COM_PRODUCTBUILDER_CONFIG_IMAGE_BORDER_COLOR_LABEL"
			description="COM_PRODUCTBUILDER_CONFIG_IMAGE_BORDER_COLOR_DESC"
			class="inputbox color {required:false}" size="15" />
	</fieldset>
</form>
