/* Contact Enhanced's StyleSheet */
/* Contact Image */
.ce-container .contact-image{float:right}

/* Map */
#ce_map_container{border:6px solid #CCC;background-color:#CCC}
#ce_map_canvas{width:100%;height:350px}
#ce-directionsPanel{background-color:#FFF}
/* Direction */
#ce-map-cpanel-switch{padding:8px;font-size:120%;height:40px;margin-top:6px;
background:#444 url("../images/map-icon.png") no-repeat 20px center}
#ce-map-cpanel-switch a,
#ce-map-cpanel-switch a:visited{color:#FFF}
#ce-map-cpanel-switch span{color:#FFF;display:block;float:left;margin:10px 0 0 65px}
.ce-map-cpanel fieldset{border-color:#CCC;border-style:solid none none;border-width:1px 0 0;clear:both;padding:10px;margin:3px}
.ce-map-cpanel fieldset legend{font-size:150%}
.ce-map-cpanel fieldset div.notes {background-color:#FFFFE1;border:1px solid #666;color:#666;float:right;font-size:88%;height:auto;margin:0 0 10px 10px;padding:5px;width:158px}
.ce-map-cpanel fieldset div.not h4 {background:url("../images/icon_info.png") no-repeat top left;padding:3px 0 3px 27px;border-width:0 0 1px 0;border-style:solid;border-color:#666;color:#666;font-size:110%}
.ce-map-cpanel fieldset div.notes p{margin:0em 0em 1.2em 0em;color:#666}
.ce-map-cpanel div{clear:left;display:block;margin:5px 0 0;padding:1px 3px;}
.ce-map-cpanel label{display:block;margin:0 0 5px;padding:3px 5px;}
.ce-map-cpanel label.labelCheckbox,.ce-map-cpanel label.labelRadio{
padding:4px 0 0 18px;text-indent:-18px;text-align:left;cursor:pointer}
.ce-map-cpanel input.inputCheckbox,.ce-map-cpanel input.inputRadio{
border-width:0;display:inline;height:auto;margin:0 0 0 140px;padding:0;width:auto}
.ce-map-cpanel div.submit div,.ce-map-cpanel div.submit div button{display:inline}
/* Coordinates*/
#ce-map-coordinates{background-color:#F2EFE9;height:15px;margin-top:5px;padding:5px 0}
#ce-map-coordinates div{float:left;width:49%;text-align:center}
.ce-map-coord-label{font-weight:bolder}
.ce-map-coord-value{}
/* MAP:End*/

/* FORM container*/
#ce-form-container{width:99%}
.ce-modal-container{margin:10px}

/* FORM:Custom Fields */
div.ce-cf-container{margin:0 0 9px 0;}
.ce-radiobox-container,.ce-checkbox-container{overflow:hidden;width:100%}
.ce-radiobox-container label,
.ce-checkbox-container label{cursor:pointer}

/* Width, compatible with old versions */
.ce-fltwidth-100,.ce-fltwidth-99{width:99%}
.ce-fltwidth-75,.ce-fltwidth-74{width:74.5%}
.ce-fltwidth-66{width:66%}
.ce-fltwidth-50{width:49.5%}
.ce-fltwidth-33{width:33%}
.ce-fltwidth-25{width:24.5%}
.ce-fltwidth-20{width:19.8%}
.ce-fltwidth-15{width:14.9%}



/* Float Right to left specific configuration */
div.ce-fltrtl{}
div.ce-fltrtl .ce-cf-container{float:right}
div.ce-fltrtl div.multiupload{float:right !important}

/* Left to right*/
div.ce-fltltr{}
div.ce-fltltr .ce-cf-container{float:left}


/* Required fields + Validation options */
.required{
background-image:url(../images/required_bg.gif) !important;
background-repeat:no-repeat !important;
background-position:top right !important;}
.invalid, input.invalid, .validation-failed{border-color:#F00 !important}
label.requiredField{font-weight:bold}
.validation-advice{padding-bottom:5px;font-weight:bold;color:#f00}

/* Display Labels on top of the field */
label.cf-label{display:block}
/* Add labels to the left instead of on top */
/* label.cf-label{float:left;width:90px} */
.disabled_field{background-color:#f5f5f5}
.cf-type-username input.success,.cf-type-email input.success,.captcha-container input.success{
	border-color:#00FF00 !important}

/* required sign*/
small.requiredsign span,label span.requiredsign{color:#F00}

/* Contact:Extra Field */
.ce-contact-ef label{display:block;float:left;font-weight:bolder;width:150px}
.ce-contact-ef{padding:0 0 10px 0}

/* Sidebar */
.ce-sidebar{vertical-align:top}

/* Button */
.ce-button-container{display:block}
.contact .button,
.contact button,
.contact button.ce-button-submit,
.contact button.ce-button-reset,
.contact button.stepButton{display:inline}

/* Captcha */
.captcha-container{display:block;clear:both}
.ce-module .securimage-label{clear: both;display: block}

/* Email Copy  */
.ce-contact-email-copy-container{display:block;clear:both} 

/* Message box */
div.ce-message-container{display:block;clear:both}
div.ce-message{font-weight:bold;padding:5px 0 5px 0}
div.ce-error{color:#A90F1E}

.ce-text-marker{width:90px;font-weight:bold;display:inline-block}

.ce-print-icon-container{float:right}

/* Category View:image*/
.ce-contact-img-cat{border:1px solid #CCCCCC;margin-right:5px;padding:3px;width:48px}

label.ce-level-1{margin-left:15px}
label.ce-level-2{margin-left:30px}
input.ce-level-3{margin-left:60px}

.ce-loading{height:30px;background:url("../images/loading-white.gif") no-repeat center center}
.ce-tooltip{color:#555;font-size:95%;padding-left:10px}

/* Hidden Token:honeypot method */
.cf_token{display:none}

/* QR Code */
.ce-qrcode-container{float:right}
.ce-qrcode{}
.ce-qrcode img{}

/* HTML Template:Thank you page */
span.ce-cf-html-label{font-weight:bold;display:block;padding-top:8px}
span.ce-cf-html-field{}


/* Search */
.ce-search-category{margin-bottom:20px;}
.ce-search-category-item{border-bottom:1px solid #CCC;padding-bottom:5px;}
.ce-search-category-item h3{display:block;}
.ce-search-category-item h3 a{text-decoration:none;}
.ce-search-category-item .item-address{font-size:95%}

.ce-search-category-item .ce-contact-img-cat{float:right;width:130px;}

/* Pagination */
h3.step-toggler{display:none}
div.ceStepButtonContainer button{}
div.ceStepButtonContainer{clear:both;text-align:right}

.step-progressbar-container{height:24px;margin:30px auto;position:relative;width:339px;
background:url("../images/progress/bar-light.png") no-repeat scroll 0 0 transparent}
.step-progressbar-container,.step-progressbar-container div{padding:0 !important;margin:0 !important} /* To avoid problems with some templates*/

.ceStepProgressBarThemeRed .step-progressbar-progress{
background:url("../images/progress/progress-red.png") repeat-x scroll 0 0 transparent}
.step-progressbar-progress{border-radius:20px 20px 20px 20px;height:23px;width:0}
.step-progressbar-text{color:white;font-weight:bold;height:24px;left:0;line-height:21px;position:relative;text-align:center;
text-shadow:1px 1px 2px #222222;top:-23px;width:339px}

/* category-module */
.category-module .contact-image img{width:100px;padding:5px;}
.category-module .contact-image{float:right}
.category-module .contact-address span{display:inline}
.category-module .contact-contactinfo span{display:inline;padding-right:5px}

.loading-chainselect{background:url("../images/loading-white.gif") no-repeat center right}

.cf-input-checkbox:focus{border:none} /* In order to fix problem with checkbox in IE9 */

/* Thumbnail Category */
ul#ce-thumbnails{background:none transparent;list-style-type:none !important;margin:0;padding:0}
ul#ce-thumbnails li{background:none transparent;border:1px solid #DDD !important;float:left;margin:2px !important;padding:1px !important;line-height:1px !important;}
div#ce-thumbnails-contact{width:300px;float:right;padding-left:9px}
#ce-thumbnails-contact-image{width:296px;border:1px solid #DDD;padding:1px}

/* Contact detail */
.contact-address .jicons-icons{float:left}
.contact-address address{margin-left:20px}