#tppoplogin {   
}
.tpsignin {
    background:url(bgsignin.gif) repeat-y top right #333333;
    padding: 10px;
    color: #FFF;
    font-size:20px!important;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center!important;
    height: 30px;
    line-height: 30px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.tpdiv1 {
    width: 280px;
    float: left;
    padding: 10px 0 10px 20px;
    text-align: right!important;
}

.tpdiv2 {
    width: 240px;
    float: right;
    padding: 20px;
    background: #d1f7fe;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}
    .tpdiv2 #form-login {
        border: none;
        padding: 0!important;
        background: transparent!important;
        margin: 0!important;
    }
.tppoploginh1 {
    padding-top: 25px;
    display: block;
    font-size: 20px!important;
    font-weight: 700;
    letter-spacing: -1px;
    color:#0F9ACD;
    text-align: right!important;
}
.tppoploginavatar {
    margin-top: -40px;
    position: absolute;
    float: left;
    
}
.tppoplogin {
    border-top: 1px solid  #bbb;
    border-right: 1px solid  #bbb;
    border-left: 1px solid  #ddd;
    border-bottom: 1px solid  #ddd;
    background: #fff;
    width: 220px;
    margin-bottom: 10px;
    padding: 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    
}
#tppoplogin  img {
    border: none!important;
}
.tppoplogin:hover,
.tppoplogin:focus {
    border: 1px solid #000;
}

.tppoplogin input.inputbox {
    width: 135px!important;
    display: block!important;
    height: 27px!important;
    line-height: 27px!important;
    float: left;
    border: none!important;
    font-size: 12px!important;
    background: transparent!important;
    outline: none;
	margin: 3px 0 0 3px!important;
	padding: 3px 0 0 3px!important;

}

.tppoplogin span {
    display: block;
    float: left;
    width:70px;
    height: 20px!important;
    line-height: 40px!important;
    /*font-weight: 700;*/
}

.tppoploginforgot1,
.tppoploginforgot2 {
    height: 11px;
    line-height: 11px;
    width:130px;
    text-align: right;
    font-size: 11px;
    margin-bottom: 15px;
    margin-top: -5px;
    float: right;
}
.tppoploginforgot2 {
    text-align: left;
    float: left; 
    width:100px;
    padding-left: 3px;
}
.lactivation {
    width:100px!important;
    padding-top: 10px;
    float: left;
}
.tppoploginremember {
    border: none;
    font-size: 11px;
    padding-bottom: 10px;
}
.tppopsigninbutton,
.tppoploginbutton {
    background:url(bgtppoploginbutton.png) no-repeat right 50% #00A8C6;
    width: 140px;
    color: #FFF!important;
    text-shadow:0px 1px 0px #276891;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 10px 10px!important;
    cursor: pointer;
    font-size: 16px!important;
    float: left;
    text-align: left;
}
.tppopsigninbutton {
    background:url(bgtppoploginbutton.png) no-repeat right 50% #6CB329;   
}
.tppopsigninbutton a,
.tppopsigninbutton a:visited {
    color: #FFF!important;
    font-size: 16px!important;
}
.tppopsigninbutton:hover,
.tppoploginbutton:hover {
    background-color: #000;
    color: #FFF!important;
    text-shadow:none;
}

#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #333;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.poplogout, 
.poplogin {
    text-indent: -99999999px;
	display: block;
	background: url(button.png) no-repeat 0px -33px transparent!important;
	width: 81px;
	height: 31px;
    border: none;
}

.poplogin:hover {
    background: url(button.png) no-repeat 0px 0px transparent!important;
}
.poplogout {
    border: none;
    cursor: pointer;
    background: url(button.png) no-repeat -83px -33px transparent!important;
    width: 81px;
    height: 31px;
    margin: 0!important;
    padding: 0!important;

}
.poplogout:hover {
    background: url(button.png) no-repeat -83px 0px transparent!important;
}
.popbox{
	display: none; /*--hidden by default--*/
	background: #fff;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    
}
.close {
    display: block;
    width:50px;
    height: 50px;            
    background:url(close.png) no-repeat transparent!important;
    float: right;
    text-indent: -9999999px;        
}
img.btn_close {
	float: right;
}

/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popbox {
	position: absolute;
}
