/* begin Page */

/* Created by Artisteer v3.1.0.48375 */

#nim-page-background-glare{
   display: none;
}
.cleared {
   width:1px;
}
/* Start Box */
.nim-box, .nim-box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.nim-bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Header */
.nim-header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='nim-header-jpeg');
   z-index: 1;
}

.nim-header-jpeg
{
   position: absolute;
   z-index:-1;
   top: 0;
   width:100%;
   height: 75px;
   background-image: url('../images/header.jpg');
   background-repeat: no-repeat;
   background-position: center left;
}
/* end Header */

/* begin Box, Sheet */
.nim-sheet {
   background:#FFFFFF;
}
/* end Box, Sheet */

/* begin Menu */
ul.nim-hmenu, ul.nim-hmenu ul, ul.nim-hmenu li, ul.nim-hmenu a {
   zoom:1;
}
.nim-hmenu li.nim-hmenuhover{
   z-index: 10000;
}
.nim-hmenu .nim-hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.nim-hmenu .nim-hmenuhoverUL .nim-hmenuhoverUL{
   top: 0;
   left: 100%;
}
.nim-hmenu ul li {
   float: left !important;
   clear: both;
   width: 100%;
}
.nim-nav
{
   zoom: 1;
   height: 23px;
   background:#F4AD02;
}

/* end Menu */

/* begin MenuItem */
.nim-hmenu a 
{
   display:inline-block;
   color: #333333;
   padding: 0 6px;
   line-height: 23px;
   text-align: center;
}

.nim-hmenu a.active 
{
   color: #333333;
   background-color:#F4AD02;
}

.nim-hmenu a:hover, .nim-hmenuhoverA,  .nim-hmenuhover a 
{
   color: #333333;
   background-color:#F4AD02;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.nim-hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'0');
}
ul.nim-hmenu li li{
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.nim-hmenu ul a 
{
   color: #333333 !important;
   float: left;
}

.nim-hmenu ul a:hover, .nim-hmenu ul .nim-hmenuhover .nim-hmenuhoverA 
{
   color: #666666 !important;
   background-position: left bottom;
   border-top-width: 0 !important;
}

/* end MenuSubItem */

/* begin Layout */
.nim-content-layout, .nim-content-layout-row, .nim-layout-cell 
{
   display: block;
   zoom: 1;
}
.nim-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Box, Block */
.nim-block {
   background:#004680;
}
/* end Box, Block */

/* begin BlockHeader */
.nim-blockheader {
   background:#00467F;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.nim-blockcontent {
   background:#00467F;
}

/* end Box, BlockContent */

/* begin Button */
.nim-button-wrapper{
   zoom: 1;
}
.nim-button-wrapper .nim-button-l, .nim-button-wrapper .nim-button-r {
   display: none;
}
.nim-button-wrapper .nim-button {
   float: left;
}
/* end Button */

/* begin Box, Post */
.nim-post {
   background:#FFFFFF;
}
/* end Box, Post */

/* begin PostIcons, PostHeaderIcons */
.nim-postheadericons span{
   zoom: 1;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostIcons, PostFooterIcons */
.nim-postfootericons span{
   zoom: 1;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.nim-footer-body{
   padding-right: 0;
   zoom:1;
}
.nim-footer{
   zoom:1;
   background:#F4AD02;
}

/* end Footer */

/* begin LayoutCell, sidebar1 */
.nim-sidebar1 {
   background:#004680;
}/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */
.nim-content {
   width: auto;
}
/* end LayoutCell, content */

form#form-login ul li
{
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}

/* Plugin compatilibity. */

/* 150675, googlemap */
div.map img
{
   behavior: none;
   filter: none;
}
